body {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  width: 90%;
  color: rgb(185, 185, 185);
  font-weight: 300;
  margin: 20px auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  list-style: none;
  max-width: 90%;
}

#letterMenu {
  max-width: 90%;
}

#letterMenu li {
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(173, 250, 173);
  padding: 5px 10px;
}

#letterMenu li:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#container {
}

/* 
#container li:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(https://www.freepngimg.com/download/bulldog/63510-cute-toy-picture-bulldog-hat-claus-dog.png);
  background-size: cover;
  margin-right: 10px;
}
 */

.breedLink {
  font-size: 14px;
  text-transform: capitalize;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(173, 250, 173);
  padding: 5px 10px;
}

.breedLink:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#imageContainer {
}

.breedImage {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
}

#clear {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(236, 110, 65);
  width: 90%;
  text-align: center;
  margin: 20px auto;
  padding: 10px 0;
}
